<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportingVenues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0A7CDC21D2E036E00387967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A7CDDE1D2E036E00387967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A7CDE91D2E036E00387967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
